* h2 {
  text-align: center;
  font-size: 2em;
}
* h4 {
  text-align: center;
  font-size: 1em;
}
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}
header {
  position: relative;
  height: 100%;
  width: 100%; 
  min-height: 584px;
  max-width: 100%;
  background-image: url(./pictures/Beer.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

#top {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.topbar h1 {
  font-size: 1.5em;
}

header ul {
  display: flex;
  list-style: none;  
}

header ul li {
  margin-right: 1em;
}
#top {
  text-align: center;
  color: white;
}
.header {
  text-align: center;
  font-size: 1.5em;
}
#top a:link {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

p {
  margin: 2%;
}

.map {
  margin: 2%;
  align-items: center;
  height: 50vh;
}


.galleryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
  margin: 2%;
  padding: 0;
  grid-template-areas: 
    'img1 img2 img3'
    'img4 img4 img4';
}

.galleryItem1 {
  grid-area: img1;
}
.galleryItem2 {
  grid-area: img2;
}
.galleryItem3 {
  grid-area: img3;
}
.galleryItem4 {
  grid-area: img4;
}

.galleryImg {
  max-width: 100%;
  height: auto;

}
@media (max-width: 900px) {
  .galleryGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'img1 img2'
    'img3 img4'
  }
}
@media (max-width: 700px) {
  .galleryGrid {
    grid-template-columns: 1fr;
    grid-template-areas: 
    'img1' 
    'img2'
    'img3' 
    'img4'
  }
}
.galleryItem {
  margin: 0;
}


.beerGrid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 1em;
  margin: 0 15% ;
  text-align: center;
}


.beerGrid img {
  width: 50%;
}

.teamGrid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  justify-content: center;
  margin: 2%;
  column-gap: 20px;
  padding-bottom: 5%;
  grid-template-areas: 
  'team1 team2 team3'
  'team4 team5 team6';
}

.teamImg1 {
  grid-area: team1;
}
.teamImg2 {
  grid-area: team2;
}
.teamImg3 {
  grid-area: team3;
}
.teamImg4 {
  grid-area: team4;
}
.teamImg5 {
  grid-area: team5;
}
.teamImg6 {
  grid-area: team6;
}

.teamImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.figcaption {
  text-align: center;
  padding-bottom: 2%;
}

@media (max-width: 900px) {
  .teamGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'team1 team2'
    'team3 team4'
    'team5 team6'
  }
}
@media (max-width: 700px) {
  .teamGrid {
    grid-template-columns: 1fr;
    grid-template-areas: 
    'team1' 
    'team2'
    'team3' 
    'team4'
    'team5' 
    'team6'
  }
}

footer {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: black;
  color: white;
  text-align: center;
}

